.about{
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-conteiner{
    width: 80%;
}
.about-conteiner h3{
    color: palevioletred;
    text-align: center;
    margin: 10px;
}
.about-conteiner p{
    color: palevioletred;
    text-align: justify;
    margin-bottom: 10px;
}