
/************ MENU ************/
.bar{
    width: 100vw;
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    z-index: 1;

}
.bar-logo{
    width: 70px;
    height: 70px;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
}
.bar-logo img{

}
.bar-menu{
    display: flex;
    align-items: center;
    margin-right: 30px;
}
.conteiner-menu-items a{
    color: white;
    text-decoration: none;
    margin: 0 30px;
}
.conteiner-menu-items a:hover{
    border-bottom: white solid 1px;
}

/*===================== VARIABLES ======================*/
:root{
    --color-BURBUJA:white; /*COLOR DE LA BURBUJA*/
    --color-LINEAS: rgb(206, 25, 161); /*COLOR DE LAS LINEAS*/
    --color-PANEL: rgb(206, 25, 161); /*COLOR DEL PANEL*/
    --color-LETRAS: white; /*COLOR DE LAS LETRAS DEL PANEL*/
    --color-LETRAS_HOVER: palevioletred; /*COLOR DE LAS LETRAS AL PASAR SOBRE ELLAS*/
    --color-LETRAS_HOVER_BACKGROUND: white; /*COLOR DEL BACKGROUND DE LAS LETRAS AL PASAR SOBRE ELLAS*/
  }
  
  
  /* boton hamburger*/
  .panel-btn{
      position: fixed;
      z-index: 999;
      top: 10px;
      right: 30px;
      width: 60px;
      height: 60px;
      border-radius: 50%;
      padding: 0;
      display: none;
      justify-content: center;
      align-items: center;
      background-color: var(--color-BURBUJA);
  }
  .panel-btn:active{
      transform: scale(.9);
  }
  .hamburger-box{
      width: 60%;
  }
  .hamburger-inner-1{
      background-color: var(--color-LINEAS);
      height: 6px;
      width: 100%;
      display: block;
      margin: 4px 0;
      border-radius: 3px;
  }
  .hamburger-inner-2{
      background-color: var(--color-LINEAS);
      height: 6px;
      width: 100%;
      display: block;
      margin: 4px 0;
      border-radius: 3px;
  }
  .hamburger-inner-3{
      background-color: var(--color-LINEAS);
      height: 6px;
      width: 100%;
      display: block;
      margin: 4px 0;
      border-radius: 3px;
  }
  
  /*boton cuando se hace click*/
  .panel{
      position: fixed;
      z-index: 998;
      background-color: var(--color-PANEL);
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      transition: transform 0.3s ease;
      transform: translate(0,-150%);
      z-index: 1;
  }
  .is-active{
      transform: translate(0,0);
  }
  .menu{
      width: inherit;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: inherit;
      text-align: center;
  }
  .menu a{
      padding: 2rem;
      width: inherit;
      display: block;
      font-size: 1.5rem;
      text-decoration: none;
      transition: all 0.3s ease;
      color: var(--color-LETRAS);
  }
  .menu:first-child{
      margin-top: 20vh;
  }
  .menu a:hover{
      font-weight: bold;
      background-color: var(--color-LETRAS_HOVER_BACKGROUND);
      color: var(--color-LETRAS_HOVER);
  }
  
  @media(max-width:768px){
      .panel-btn{
          display: flex;
      }
      .bar-menu{     /*se pone el nombre de la clase del contenedor que va a desapareser*/
          display: none;
      }
  }