
@font-face {
    font-family: "PlayfairDisplaySC-Black";
    src: url(../assets/font/PlayfairDisplaySC-Black.ttf);
    font-family: "Oswald-ExtraLight";
    src: url(../assets/font/Oswald-ExtraLight.ttf);
    font-family: "Oswald-Bold";
    src: url(../assets/font/Oswald-Bold.ttf);
}
:root{
    --hero__titules__Font:"PlayfairDisplaySC-Black";
    --hero__titules__colorFont:white;
    --hero__text__Font: "Oswald-ExtraLight";
    --hero__text__colorFont: rgba(255, 255, 255, 0.7);
    --hero__text__colorFont--black: rgb(86, 86, 86);
    --hero__button__Font:"Oswald-Bold";
    --hero__button__colorFont: black;
    --hero__button__backgroundColor: white;
    --backgroundColor: rgb(206, 25, 161);
}
.hero{
    width: 100%;
    height: 100vh;
    position: relative;
    background-color:var(--backgroundColor);
}
.hero__box{
    width: 400px;
    position: absolute;
    top: 50%;
    right: 2%;
    transform: translate(0%,-50%);
}
.hero__titule{
    width: 100%;
    color: var(--hero__titules__colorFont);
    font-size: 4rem;
    font-family: var(--hero__titules__Font);
    line-height: 1;
    text-transform: capitalize;
}
.hero__text{
    width: 100%;
    color: var(--hero__text__colorFont);
    font-family: var(--hero__text__Font);
    margin: 10px 0;
    text-transform: capitalize;
}
.hero__button{
    background-color: var(--hero__button__backgroundColor);
    color: var(--hero__button__colorFont);
    padding: 8px 5px;
    border-radius: 5px;
    text-decoration: none;
    display: block;
    width: 220px;
    text-align: center;
    margin: 0 auto;
}
.img__box{
    width: 50%;
    height: 500px;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 15%;
    transform: translate(0%,-50%);
    z-index: 1;
    border: white solid 2px;
}
.img__box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.img__box2{
    width: 400px;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
}
.img__box2 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: right;
}
