
@font-face {
    font-family: "PlayfairDisplaySC-Black";
    src: url(../assets/font/PlayfairDisplaySC-Black.ttf);
    font-family: "Oswald-ExtraLight";
    src: url(../assets/font/Oswald-ExtraLight.ttf);
    font-family: "Oswald-Bold";
    src: url(../assets/font/Oswald-Bold.ttf);
}
:root{
    --hero__titules__Font:"PlayfairDisplaySC-Black";
    --hero__titules__colorFont:white;
    --hero__text__Font: "Oswald-ExtraLight";
    --hero__text__colorFont: rgba(255, 255, 255, 0.7);
    --hero__text__colorFont--black: rgb(86, 86, 86);
    --hero__button__Font:"Oswald-Bold";
    --hero__button__colorFont: white;
    --hero__button__backgroundColor: rgb(98, 0, 155) ;
    --backgroundColor: #ce19a1;
}
.hero{
    width: 100%;
    height: 100vh;
    position: relative;
}
.hero__box{
    display: flex;
    width: 100%;
    height: 100%;
}
.hero__boxLeft{
    width: 30%;
    height: 100%;
}
.hero__boxLeft img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.hero__boxRight{
    width: 70%;
    height: 100%;
    background-color: var(--backgroundColor);
    position: relative;
}
.hero__describe{
    width: 400px;
    position: absolute;
    top: 50%;
    right: 4%;
    transform: translate(0%,-50%);
}
.hero__titule{
    width: 100%;
    color: var(--hero__titules__colorFont);
    font-size: 4rem;
    font-family: var(--hero__titules__Font);
    line-height: 1;
    text-transform: capitalize;
}
.hero__text{
    width: 100%;
    color: var(--hero__text__colorFont);
    font-family: var(--hero__text__Font);
    margin: 10px 0;
    text-transform: capitalize;
}
.hero__button{
    background-color: var(--hero__button__backgroundColor);
    color: var(--hero__button__colorFont);
    font-family: var(--hero__button__Font);
    padding: 8px 5px;
    border-radius: 5px;
    text-decoration: none;
    display: block;
    width: 150px;
    text-align: center;
}
.hero__button:hover{
    background-color: white;
    color: var(--hero__button__backgroundColor);
}
.hero__button:active{
    transform: scale(.9);
}
.img__center{
    width: 50%;
    height: 500px;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 15%;
    transform: translate(0%,-50%);
    z-index: 1;
    border: white solid 1px;
}
.img__center img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/********************************************************/
.sers{}
.sers_titule{
    text-align: center;
    margin-top: 40px;
    font-size: 2rem;
}
.boxCards{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
    flex-wrap: wrap;
}
.boxCards__card{
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 0 10px;
    border-radius: 5px;
}
.card__imgBox{
    width: 100%;
    height: 50%;
    overflow: hidden;
    margin-bottom: 30px;
}
.card__imgBox img{
    width: 100%;
    height: 100%;

}
.card__titule{
    font-family: var(--hero__titules__Font);
    margin-bottom: 5px;

}
.card__text{
    font-family: var(--hero__text__Font);
    color: var(--hero__text__colorFont--black);
    text-align: center;
}
/************************************************/
.services{
    width: 100vw;
    display: flex;
    flex-direction: column;
    background-color: var(--backgroundColor);
}
.services__titule{
    width: 100%;
    text-align: center;
    padding: 30px 0;
    color: white;
    font-family: var(--hero__titules__Font);
    font-size: 2rem;
}
.cardPrice__container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.cardPrice{
    width: 480px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:0 10px 50px 10px;
    border: solid white 1px;
    padding: 20px;
}
.cardPrice__boxImg{
    width: 100%;
    height: 60%;
}
.cardPrice__boxImg--img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.cardPrice__description{
    height: 40%;
    position: relative;
    width: 400px;
}
.cardPrice__titule{
    text-align: center;
}
.cardPrice__price{
    color: white;
    font-size: 7rem;
    margin-left: -20px;
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translate(0%,-50%);
}
.cents{
    font-size: 18px;
    position: absolute;
    top: 16%;
}
.cardPrice__listBox{
    position: absolute;
    top: 50%;
    right: 60px;
    transform: translate(0%,-50%);
}
.cardPrice__list{}
.cardPrice__list--item{}
.extra-services{}
.extra-services p{
    color: white;
    font-size: 12px;
    width: 320px;
    margin-left: 30px;
}

@media(max-width:1250px){
    .img__center{
        width: 40%;
    }
}
@media(max-width:1024px){
    .boxCards__card{
        width: 330px;
    }
    .img__center{
        display: none;
    }
    .hero__describe{
        width: 330px;
        right: 50%;
        transform: translate(50%,-50%);
    }
}
@media(max-width:768px){
    .boxCards__card{
        width: 330px;
        height: 400px;
    }
    .cardPrice__price{
        font-size: 5rem;
        margin-left: 30px;
    }
}
@media(max-width: 425px){
    .hero__boxLeft{
        display: none;
    }
    .hero__boxRight{
        width: 100%;
    }
}

